{% extends 'base.html' %}

{% block content %}
<div style='min-height: 700px;'>
<div class='pt-3 pb-5'>

    {% include "photos/galery_navbar.html" with stat=stat photo=photo only %}    

    {% if photo %}
        <div class='container' style='min-height: 600px;'>
        <a style="cursor: zoom-in;" href="{{photo.img.url}}" target="_blank">
            <img src="/s-media/{{photo.img.name}}?width=1600" alt="image" class="mx-auto d-block" style='max-height: 600px; max-width: 100%;'>
        </a>
        </div>

        {% block photo_form %}
            Form error 41
        {% endblock %}

    {% else %}
    <div class='row'>
        <h4 class="mt-5 text-info mx-auto"> Новых фотографий не обнаружено </h4>
        <i class='far fa-image text-info text-center w-100' style='font-size:100px;'></i>
        </div> 
    {% endif %}
</div>   
</div>   
{% endblock %}