{% extends 'base.html' %}

{% block title %} ОВЕН Птицеводство - Контакты {% endblock %}

{% block content %}
<div class="container shadow-sm" style='min-height: 75vh;'>
<div class="container py-4" style="max-width: 800px"> 

	<div class="container-fluid pt-3">
		<h3 class="text-dark">Техническая поддержка</h3>
		<div class="text-dark">
			<p>
			<b>Телефон:</b> +38 (057) 720-91-19 доб. 6495 <br/>
			<b>Мобильный:</b> +38 (067) 570-67-17 <br/> 
			<b>Электронная почта:</b> <a class="text-primary" href="mailto:e.kapitonov@owen.ua">e.kapitonov@owen.ua</a> <br/> 
     		</p> 
		</div> 	
	</div>

  	<div class="container-fluid pt-3">
		<h3 class="text-dark">Центральный офис</h3>
		<div class="text-dark">
			<p>
			<b>Адрес:</b> 61153, г. Харков, ул. Гв. Широнинцев, 3A <br/>
			<b>Адрес для писем:</b> 61153, м. Харків, вул. Гв. Широнінців, 3A, ВО ОВЕН <br/>
			<b>Режим работы:</b> понедельник – пятница с 9.00 до 17.30 <br/>
			</p>
		</div> 
	</div>
  
  	<div class="container-fluid">
		<h5>Единая диспетчерская служба:</h5>
		<div class="text-dark">
			<p>
			<b>Телефон:</b> +38 (057) 720-91-19 <br/>
			</p>
		</div> 
	</div>

</div>
</div>
{% endblock %}