{% extends 'base.html' %}

{% block title %} ОВЕН Птицеводство - Документация {% endblock %}

{% block content %}
<div class="container shadow-sm" style='min-height: 75vh;'>
<div class="container py-4" style="max-width: 800px"> 

	<div class="container-fluid pt-3">
		<h3 class="text-dark text-center">Система сбора и обработки изображений <br/> «Owen PCAM»</h3>
	</div>


	<div class="container-fluid pt-3">
		<h4 class="text-dark">Описание системы</h4>
		<div class="text-dark">
			<p> Система «Owen PCAM» служит для сбора и анализа фотографий с объекта наблюдения (птичника).
			Собранные фотографии анализируются на предмет соблюдения требований технологического процесса и текущего состояния птицы. 
			При обнаружении отклонений от нормы, системе сигнализирует о выявленных отклонениях. </p> 

			<p> Для обучения системы необходимо задать предварительно подготовленный массив снимков, 
			который распределен по двум категориям "Хорошие" и "Плохие" 
			(значение данных категорий описано в резделе <a href="#C1">Интерфейс зоотехника</a>). </p> 
			
			<p> На текущем ресурсе <a href="http://owen-poultrycam.tech/">http://owen-poultrycam.tech/ </a> 
			расположен "Интерфейс зоотехника". 
			Данный интерфейс является частью системы «Owen PCAM» и служит для распределения снимков 
			с объекта наблюдения по соответствующим категориям. </p> 
		</div> 	
	</div>

	<div style="position: relative; top: -50px; visibility: hidden;" id="C1"></div>
	<div class="container-fluid pt-3">
		<h4 class="text-dark">Интерфейс зоотехника</h4>
		<div class="text-dark">
			<p> Для удобства сортировки фотографий, собранных с объекта наблюдения, используется Интерфейс зоотехника. </p> 

			<p> Изображения сортируются по трем категориям: </p> 
			<p> <b> «Хорошие»</b> - данная категория должна быть присвоена фотографиям, на которых можно определить, 
			что условия содержания птицы, а так же поведение и состояние птицы соответствуют 
			всем требованиям технологического процесса. </p> 

			<p> <b> «Плохие»</b> - данная категория должна быть присвоена фотографиям, на которых можно определить 
			отклонение от нормального поведения птицы или нарушение технологического процесса выращивания. </p> 

			<p> <b> «Пропустить»</b> - данная категория должна быть присвоена фотографиям, которые не пригодны 
			для анализа по техническим или другим причинам 
			(например, отсутствие изображения, перекрытие изображения сторонним объектом, плохое качество изображения). </p> 
     		</p> 
		</div> 	
	</div>

	<div class="container-fluid pt-3">
		<h4 class="text-dark">Авторизация пользователей</h4>
		<div class="text-dark">
			<p>
			Для работы с Интерфейсом зоотехника пользователь должен авторизоваться, 
			для этого ввести имя учетной записи и пароль в соответствующем окне. <br/>

			Чтоб получить имя учетной записи и пароль необходимо обратиться в 
			<a href="{% url 'contacts' %}"> службу технической поддержки компании ОВЕН</a>. 
			</p> 

			<p class='mb-1'>
			Для регистрации нового пользователя необходимо предоставить следующую информацию:
			</p> 
			<ul class='mt-0 pt-0'>
			 <li class='mt-0 pt-0'>Имя и фамилия нового пользователя</li>
			 <li>Адрес электронной почты</li>
			 <li>Должность на предприятии</li>
			</ul>

			<p> Для смены или восстановления утерянного пароля так же необходимо обратиться  
			в службу технической поддержки. </p> 
		</div> 	
	</div>

	<div class="container-fluid pt-3">
		<h4 class="text-dark">Дополнительно</h4>
		<div class="text-dark">
			<p>
			За дополнительной информацией по установке, настройке и эксплуатации 
			системы Owen PCAM вы можете обратиться в
			<a href="{% url 'contacts' %}"> службу технической поддержки компании ОВЕН</a>. 
			</p> 
		</div> 	
	</div>


</div>
</div>
{% endblock %}