<div class='bg-secondary'>
<div class="container" style="max-width: 1000px"> 
<div class="row py-4"> 

  	<div class="col-6 d-lg-flex justify-content-center">
 	<div class="text-nowrap">
		<h5 class="text-light">Центральный офис</h5>
		<div class="text-light">
			<p>
            <a class="text-light" href="https://owen.ua/">www.owen.ua</a> <br/> 
            Тел.: +38 (057) 720-91-19 <br/>
			Харков, ул. Гв. Широнинцев, 3A <br/>
			</p>
		</div> 
	</div>
	</div>

	<div class="col-6 d-lg-flex justify-content-center">
 	<div class="text-nowrap">
		<h5 class="text-light">Техническая поддержка</h5>
		<div class="text-light">
			<p>
			Тел.: +38 (057) 720-91-19 доб. 6495 <br/>
			Моб.: +38 (067) 570-67-17 <br/> 
			E-mail: <a class="text-light" href="mailto:e.kapitonov@owen.ua">e.kapitonov@owen.ua</a> <br/> 
     		</p> 
		</div> 	
	</div>
	</div>

</div>
</div>
</div>